body{
    font-size: 16px;
}
.content{
    display: flex;
    border: 3px solid black;
    width: 80%;
    margin: auto;
    height: 600px;
}
.col{
    width: 50%;
    padding: 1%;
}

.vl{
    border-left: 4px solid black;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -2px;
}