body{
    height: 80vh;
    background-color: aliceblue;
}
section{
    position: relative;
    top: 100px;
    text-align: center;
}
article{
    width: 60%;
    margin: auto;
    text-align: center;
}

#quotes{
    background-color: rgb(36, 155, 166);
    height: 100px;
    padding: 30px;
    font-size: larger;
    border-radius: 40px 0px;
    box-shadow: 10px 10px black;
}

#author{
    font-size: x-large;
    text-shadow: 2px 2px #25818a;
    height: 30px;
    padding: 6px;
    margin-top: 10px;
}
button{
    height: 40px;
    padding-left: 50px ;
    padding-right: 50px ;
    border-radius: 20px 0px;
}

button:hover{
    background-color: chartreuse;
    transform: scale(1.05);
    transition: all 0.5s ease 0s;
}